
.section-footer {
    background-color: #212529;  
}

.footer-container {
    display: flex;
    align-items: center; 
}

footer {
    background-color: #212529;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    /*Bruk positiv fixed for å få den til stå iro når du scroller. da blir det rart på de andre sidene. Men ikek et problem så lenge siden er lang nok*/
    position: relative;
    bottom: 0;
    width: 100% ;
}

.footer-button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

.footer-button:hover {
    background-color: #3e8e41
}

.footer-button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
}

.footer-link {
    text-decoration: none;
}

p {
    margin: 5px;
    padding: 5px;
}

