<!--Oppretter en Navbar-->
<!--Opprinnelig hentet fra "https://getbootstrap.com/docs/5.2/components/navbar/", men gjort en del custom changes-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Rich's</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('home.home_home')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('meth.meth_home')}}">Methology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('carbon_app.carbon_app_home')}}">Carbon App</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{url_for('users.register')}}">Register</a></li>
            <li><a class="dropdown-item" href="{{url_for('users.login')}}">Login</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

