{% extends "layout.html" %}
{% block content %}

    <title>{{Title}}</title>
    
    <!-- CSS code -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='meth.css') }}">

    <!-- MathJax and header -->
    <section style="background-color: #9fa7bf;">
        <div>
            In this site we make meth and a header
        </div>
    </section> 
    <!--Hver section inneholder 2 bokser for mattesymmboler-->
    <section class="section1">
        <div class="container">
          <h1>MathJax</h1>    
        </div>
      
        <div class="container"> 
          <div class="box">
              <h5>Mathematical expressions 1</h5>
              <p class="text-left">
              Mathematical expressions \( x = {-b \pm \sqrt{b^2-4ac} \over 2a} \) inside text.
              <br>
              Mathematical expressions outside text:
              \[ x = {-b \pm \sqrt{b^2-4ac} \over 2a} \]
              </p> 
          </div> 
          <div class="box">
            <h5>Mathematical expressions 2</h5>
            <p class="text-left">
                <br>
                \[ x^2 + y^2 = z^2 \]                 
            </p> 
        </div>              
        </div>
      
        <div class="container"> 
          <div class="box">
            <h5>Sums</h5>
            <p class="text-left">
                \[ \sum_{n=1}^{\infty} 2^{-n} = 1 \]
            </p>
          </div> 
          <div class="box">
            <h5>Limits</h5>
            <p class="text-left">
                \[ \lim_{x\to\infty} f(x) \]
            </p> 
        </div>              
        </div>
      
      </section> 
      
      <section style="background-color:  #9fa7bf;">
        .
      </section>  

{% endblock content %}